<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "olber-db.zzz.com.ua"
    versionCode = "10"
    version     = "1.1.0">

<name>ТЕСТ. Olber_DB</name>

<description>
    База даних ГО Ольбери
</description>

<author>Tadapp</author>

<plugin name='cordova-plugin-splashscreen' />
<plugin name='cordova-plugin-inappbrowser' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='orientation' value='portrait' />

<gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

<preference name='windows-appx-target' value='8.1-win' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='android-build-tool' value='gradle' />
<preference name='android-minSdkVersion' value='16' />
<preference name='orientation' value='portrait' />

<preference name='windows-appx-target' value='8.1-phone' />
<preference name='WindowsToastCapable' value='true' />

<preference name="SplashMaintainAspectRatio" value="true" />
<preference name="SplashScreenSpinnerColor" value="#007BFF" />


<platform name="android">
    <icon src="res/android/icon/f9732182555f695bd1a59676afbd7afc.png" density="ldpi" />
    <icon src="res/android/icon/30d0fab4f9c9fbc673a758a3f319f5f9.png" density="mdpi" />
    <icon src="res/android/icon/d740f66f3ed1ae15daa17a64aa8ed52e.png" density="hdpi" />
    <icon src="res/android/icon/6a385f25fbc92a186cddb4804bae640a.png" density="xhdpi" />
    <icon src="res/android/icon/293f0de55ce657b59da3cba7f9d47fba.png" density="xxhdpi" />
    <icon src="res/android/icon/a2d558f737e342d8c2c1650c1768b27d.png" density="xxxhdpi" />

    <splash src="res/android/screen/00c62869773aac10b79615084d3ff66f.png" density="port-hdpi"/>
    <splash src="res/android/screen/4dd56f3b7fe9fcd8e97de663ecb33c40.png" density="port-ldpi"/>
    <splash src="res/android/screen/3c994f116525229eb1f1ee69623a810d.png" density="port-mdpi"/>
    <splash src="res/android/screen/4d17577e549f86346755e42933440c56.png" density="port-xhdpi"/>
</platform>

<platform name="ios">
	<icon src="res/ios/icon/fa18440066e75febf96515b7cce61322.png" width="180" height="180" />
	<icon src="res/ios/icon/0f8a9ee039426727eac69e89bb610779.png" width="60" height="60" />
	<icon src="res/ios/icon/d991781a217b845a12e51baf4e771707.png" width="120" height="120" />
	<icon src="res/ios/icon/151db155cbfdab4f3354dbd49508eebf.png" width="76" height="76" />
	<icon src="res/ios/icon/282016973de381d9b31468b7c6048a0d.png" width="152" height="152" />
	<icon src="res/ios/icon/d37080379c0d6a505fb82c19f9728aef.png" width="57" height="57" />
	<icon src="res/ios/icon/e83813d9734843de71013dad55ba5970.png" width="114" height="114" />
	<icon src="res/ios/icon/380e73d8c7d14aaef744909d4e29c9d3.png" width="72" height="72" />
	<icon src="res/ios/icon/069a15ef66e701eb8cabd5924c8da127.png" width="144" height="144" />
	<icon src="res/ios/icon/84a389ca4bfa54bf92aadbd6e0953212.png" width="167" height="167" />
	<icon src="res/ios/icon/43b9990e138887176f6aeb6990c58da9.png" width="29" height="29" />
	<icon src="res/ios/icon/759dd78edca4105ee87ab53b5816454d.png" width="58" height="58" />
	<icon src="res/ios/icon/83f388de2caae573458f9ae08799cb64.png" width="87" height="87" />
	<icon src="res/ios/icon/ce90b5290b6766fdd686230e348d0df0.png" width="167" height="167" />

	<splash src="res/ios/screen/42c387ba8b43b7ff6e99b2f1d596fdbe.png" />
    <splash src="res/ios/screen/88ab927d79856e0172c400ea94ace038.png" />
    <splash src="res/ios/screen/89f2b6273ea7eaee21756d514741156f.png" />
    <splash src="res/ios/screen/ae08c2ef3f4d8ace21e0631ca6820797.png" />
    <splash src="res/ios/screen/5c4ce1733f5c9e1b2f0a9ffdd3d9d2a0.png" />
    <splash src="res/ios/screen/23f193312647010f3807116757062add.png" />
</platform>

<platform name="winphone">
    <icon src="res/windows/icon/e8eac69704a3355a2fef28bfee98a913.png" target="StoreLogo" />
    <icon src="res/windows/icon/67f6b2c699dc514cc18053e2dcf66ae9.png" target="Square30x30Logo" />
    <icon src="res/windows/icon/3755c2d4ab4cf1b99bca19689b559906.png" target="Square44x44Logo" />
    <icon src="res/windows/icon/db5689ebbee702ff67209afd4570ce90.png" target="Square70x70Logo" />
    <icon src="res/windows/icon/610ca8a63f1662050a970f54e947b937.png" target="Square71x71Logo" />
    <icon src="res/windows/icon/4c14a5b24eb35b0816819dfc1ca8e423.png" target="Square150x150Logo" />
    <icon src="res/windows/icon/e4b2af83b40ad8e54cfb45f5b1a362ce.png" target="Square310x310Logo" />

    <splash src="res/windows/screen/094435ea3d5963d928cab15c7e25ca66.png" target="SplashScreen"/>
    <splash src="res/windows/screen/e044642a2d66afab00ebed10a9d9c6db.png" target="SplashScreenPhone"/>
</platform>

<access origin='*'/> 
<plugin name='cordova-plugin-whitelist' />
<allow-intent href='http://*/*'/>
<allow-intent href='https://*/*'/>
<allow-intent href='tel:*'/>
<allow-intent href='sms:*'/>
<allow-intent href='mailto:*'/>
<allow-intent href='geo:*'/>

</widget>