<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "olber-db.zzz.com.ua"
    versionCode = "10"
    version     = "1.0.0">

<name>ТЕСТ. olber_DB</name>

<description>
    База даних ГО Ольбери
</description>

<author>Tadapp</author>

<plugin name='cordova-plugin-splashscreen' />
<plugin name='cordova-plugin-inappbrowser' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='orientation' value='portrait' />

<gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

<preference name='windows-appx-target' value='8.1-win' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='android-build-tool' value='gradle' />
<preference name='android-minSdkVersion' value='16' />
<preference name='orientation' value='portrait' />

<preference name='windows-appx-target' value='8.1-phone' />
<preference name='WindowsToastCapable' value='true' />

<preference name="SplashMaintainAspectRatio" value="true" />
<preference name="SplashScreenSpinnerColor" value="#007BFF" />


<platform name="android">
    <icon src="res/android/icon/3d739a2984c844940178f36e99be676d.png" density="ldpi" />
    <icon src="res/android/icon/1b0c155f78d5435d46d7fd8736dc3770.png" density="mdpi" />
    <icon src="res/android/icon/a3964c456add293df4bd76867a501a20.png" density="hdpi" />
    <icon src="res/android/icon/061cc196934cae5658438f1200387a57.png" density="xhdpi" />
    <icon src="res/android/icon/1bb47b4b7e298b65744cda7680119070.png" density="xxhdpi" />
    <icon src="res/android/icon/80973dc88b57b14b36a6cac10706bdeb.png" density="xxxhdpi" />

    <splash src="res/android/screen/1b60f06228b1b9fd9b81a74cba8ce452.png" density="port-hdpi"/>
    <splash src="res/android/screen/ffbf84a29aae0d2d3500d413f9d6de97.png" density="port-ldpi"/>
    <splash src="res/android/screen/88b0298a77f5aa7d580437c103cd65dd.png" density="port-mdpi"/>
    <splash src="res/android/screen/cef33e723b1be899424fd1c0e373647c.png" density="port-xhdpi"/>
</platform>

<platform name="ios">
	<icon src="res/ios/icon/3ced205b07d6aa369620eb915959f236.png" width="180" height="180" />
	<icon src="res/ios/icon/677a08c4fd4de14db4dd80073a5f9418.png" width="60" height="60" />
	<icon src="res/ios/icon/0e86e98a987cd6c1cdc03fac512bf470.png" width="120" height="120" />
	<icon src="res/ios/icon/22ad297259dfd842c490cc68fcddd40f.png" width="76" height="76" />
	<icon src="res/ios/icon/9ddd754ff5f82c954940f121e508209b.png" width="152" height="152" />
	<icon src="res/ios/icon/b794778cc35a36763c4141639386ad81.png" width="57" height="57" />
	<icon src="res/ios/icon/796412878c43e46727a4ec8d8d7477d4.png" width="114" height="114" />
	<icon src="res/ios/icon/7dddb679dc50e221f5584c3934fc23a4.png" width="72" height="72" />
	<icon src="res/ios/icon/7ec07b665fdae2f645129bb200556727.png" width="144" height="144" />
	<icon src="res/ios/icon/ca2f423da893f6357ed85b506a102b0b.png" width="167" height="167" />
	<icon src="res/ios/icon/9c4c3a39f1f748ac6175da72bdfaecbf.png" width="29" height="29" />
	<icon src="res/ios/icon/068d162d25910bdb7e2854ae0984168e.png" width="58" height="58" />
	<icon src="res/ios/icon/f9accec5bd1d1830cbe8d5e3d3036045.png" width="87" height="87" />
	<icon src="res/ios/icon/343bf6185280a129edcddc63ac96f2ac.png" width="167" height="167" />

	<splash src="res/ios/screen/15a2ac069fa065473ccf5055cd1cfd8a.png" />
    <splash src="res/ios/screen/4b9b52210a271de8554fc9b2a9092c4f.png" />
    <splash src="res/ios/screen/3f33f3fe88d81ed7b381e3667251c653.png" />
    <splash src="res/ios/screen/2abcf06ad5a4385a02beeb5a71283a28.png" />
    <splash src="res/ios/screen/db89a244eeecd7019d464075cafff9c2.png" />
    <splash src="res/ios/screen/cd17488fa9a9789d28f590b4dd0a08e9.png" />
</platform>

<platform name="winphone">
    <icon src="res/windows/icon/13046b44b17879bd1aec4b9d84834f1b.png" target="StoreLogo" />
    <icon src="res/windows/icon/3005ad8f8f2fd3b4f56ff9b3bf605be6.png" target="Square30x30Logo" />
    <icon src="res/windows/icon/93bfdfa5fb6a337daf8e9656db0d8138.png" target="Square44x44Logo" />
    <icon src="res/windows/icon/a8d9923dc875f669ad24a0dca23e9903.png" target="Square70x70Logo" />
    <icon src="res/windows/icon/2a114e26f8a420824668f801b016061d.png" target="Square71x71Logo" />
    <icon src="res/windows/icon/bf127c31bbe138f032d661626e8875f8.png" target="Square150x150Logo" />
    <icon src="res/windows/icon/2b9ac6f9c4cd36887cacecb18f4fe453.png" target="Square310x310Logo" />

    <splash src="res/windows/screen/52ae9a7879a88e2bfbcb97e3a4586d12.png" target="SplashScreen"/>
    <splash src="res/windows/screen/23c0900f972935b59975aebe6a0aca74.png" target="SplashScreenPhone"/>
</platform>

<access origin='*'/> 
<plugin name='cordova-plugin-whitelist' />
<allow-intent href='http://*/*'/>
<allow-intent href='https://*/*'/>
<allow-intent href='tel:*'/>
<allow-intent href='sms:*'/>
<allow-intent href='mailto:*'/>
<allow-intent href='geo:*'/>

</widget>